# Folder config file
[Dd]esktop.ini


#thingspeak api key files
server/config.py

#cnn proto buffer variables
server/resnet_classifier.hp5/variables/variables.data-00000-of-00001
server/resnet_classifier.hp5/variables/variables.index










#android studio 
*.cab
*.msi
*.msix
*.msm
*.msp

*.apk
*.aar
*.ap_
*.aab


*.dex

*.class


bin/
gen/
out/

.gradle/
build/


local.properties

proguard/


*.log

.navigation/

# Android Studio 
captures/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries

.idea/caches
.idea/modules.xml
.idea/navEditor.xml


.externalNativeBuild
.cxx/

.idea/caches/build_file_checksums.ser

.gradle
**/build/
!src/**/build/


gradle-app.setting

!gradle-wrapper.jar

.gradletasknamecache

.java-version

.jenv-version

*.slo
*.lo
*.o
*.obj

*.exe
*.out
*.app
*.dll
*.so
*.so.*
*.dylib
*.dSYM/
*.su
*.idb
*.pdb

*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*